@media screen and (max-width: 1025px){
	.top-menu-mobile,.mobile-menu-btn{
	  display: block;
	}	
	.main-logo{
		padding-left: 15px;
	}
	.top-menu-inner{
		display: none;
	}
	.top-menu{
		padding: 0;
	}
}
@media screen and (max-width: 770px){
	.header-title-text h1{
		font-size: 3em;
	}
	.header-title-text h3{
		font-size: 1.5em;
	}
	.pricing-block{
		white-space: nowrap;
	    overflow: auto;
	    max-width: 100vw;
	}
	.price-block.price-name{
		width: 200px;
	}
	.price-block{
		width: 200px;
	}
	.pricing-block li{
		width:800px;
	}

}